local name = myModuleName()
local version = myModuleVersion()

help([[Jupyter Notebook and Jupyter Lab, and Julia kernels for them.]])

local appl_dir = "{{ appl_dir }}"

-- Set path to Python virtual env containing Jupyter.
prepend_path("PATH", pathJoin(appl_dir, "julia-jupyter", version, "bin"))

-- Jupyter executable name for IJulia
setenv("JUPYTER", "jupyter")

-- Do not install the default kernel.
setenv("IJULIA_NODEFAULTKERNEL", "1")

-- Set path to Julia kernels so that Jupyter can find them.
-- Use separate directory so that it is possible to use other Jupyter installations if necessary.
--prepend_path("JUPYTER_PATH", pathJoin(appl_dir, "julia-jupyter", "data"))
