help([[Jupyter Notebook and Jupyter Lab, and Julia kernels for them.]])

local appl_dir = "{{ appl_dir }}"

-- Set path to Python virtual env containing Jupyter.
prepend_path("PATH", pathJoin(appl_dir, "julia-jupyter", "{{ version }}", "bin"))

-- Jupyter executable name for IJulia
setenv("JUPYTER", "jupyter")

-- Do not install the default kernel.
setenv("IJULIA_NODEFAULTKERNEL", "1")

-- Additional binaries
append_path("PATH", pathJoin(appl_dir, "julia-jupyter", "bin"))

-- Set path to Julia kernels so that Jupyter can find them.
-- We use separate directory so that the kernels do not conflict with other Jupyter installations.
home_dir = os.getenv("HOME")
prepend_path("JUPYTER_PATH", pathJoin(home_dir, ".local", "share", "julia-jupyter", "kernels"))
