help([[Install packages to shared depot directory]])

local appl_dir = "{{ appl_dir }}"

-- Installing packages requires loading the julia module.
prereq("julia")

-- Directory for the shared packages and other depots.
setenv("JULIA_DEPOT_PATH", pathJoin(appl_dir, "julia-depot"))

-- Use the default load path for installing shared packages.
setenv("JULIA_LOAD_PATH", "@:@v#.#:@stdlib")

-- Use the default project in the depot directory.
setenv("JULIA_PROJECT", "")

-- Disable automatic precompilation when installing packages
setenv("JULIA_PKG_PRECOMPILE_AUTO", "0")
