help([[
Jupyter Notebook and Jupyter Lab, and Julia kernels for them.
]])

local julia_jupyter_dir = "{{ appl_dir }}/julia-jupyter"

-- Set path to Python virtual env containing Jupyter.
prepend_path("PATH", pathJoin(julia_jupyter_dir, "env/bin"))

-- Set path to Julia kernels so that Jupyter can find them.
-- Use separate directory so that it is possible to use other Jupyter installations if necessary.
prepend_path("JUPYTER_PATH", pathJoin(julia_jupyter_dir, "data"))
