help([[Environment for using AMDGPU.jl with the Julia language.]])

depends_on("amd-mixed")
depends_on("rocm/5.2")

local appl_dir = "{{ appl_dir }}"
local preferences_amdgpu = pathJoin(appl_dir, "julia-depot", "environments", "admgpu.toml")
append_path("JULIA_LOAD_PATH", preferences_amdgpu)

-- Use local ROCm installation for AMDGPU.jl.
setenv("JULIA_AMDGPU_DISABLE_ARTIFACTS", "1")

-- Enable GPU-aware MPI
--depends_on("craype-accel-amd-gfx90a")
--setenv("MPICH_GPU_SUPPORT_ENABLED", "1")
