local version = myModuleVersion()

help([[Environment for using AMDGPU.jl with the Julia language.]])

depends_on("LUMI/24.03")
depends_on("partition/G")
depends_on("rocm/6.0.3")

local appl_dir = "{{ appl_dir }}"
append_path("JULIA_LOAD_PATH", ":" .. pathJoin(appl_dir, "julia-amdgpu", version, "Project.toml"))

-- Enable GPU-aware MPI
setenv("MPICH_GPU_SUPPORT_ENABLED", "1")
setenv("MPICH_OFI_NIC_POLICY", "GPU")
